/* MODAL STYLES
-------------------------------*/
/*  */
.jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;
}

.jw-modal-body {
    padding: 50px 10px 3px 30px;
    background: #fff;
    margin: 15% auto;
    width: 30%;
    border-radius: 4px;
    font-family: monospace;
}


.jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
}
 
.remv-text{
    color: darkgrey;
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

.btn-delete{
    margin-top: 30px;
  }
  .delete-btn{
    color: black;
    background-color: white;
    /* border-color: #007bff; */
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    width: 70px;
    margin: 0px 0px 5px 0px;
  }